.navbar-inverse {
  background-color: #3F6766;
  border-color: #2C4747;
}

.navbar-brand {
  padding: 15px;
  height: 122px;
}

#dogodki {
	border-color: #2C4747;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
}

h1, h2, h3, h4, h5, h6 {
	color: #67544E;
}

.label-primary {
    background-color: #6FA49E;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #6FA49E;
	border-color: #6FA49E;
}

.naslov-gradiva {
	font-size: larger;
	font-weight: bold;
}
